<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planov4c">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Time Manager "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Planov4c">
        <activity
            android:name=".AddNewPlanActitvity"
            android:exported="true" />
        <activity
            android:name=".ZabavaActivity"
            android:exported="true" />
        <activity
            android:name=".SkolaActivity"
            android:exported="true" />
        <activity
            android:name=".RodinaActivity"
            android:exported="true" />
        <activity
            android:name=".PracaActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>